p {
  color: #404040;
}

#heder{
  color:#C32017;



a: visited{
  color: #FADA27;
}
a: hover{
  color: #2CFA41;
}
a: active{
  color: #000000;
}
#bt ol li{
  color:#cc0000;
}
h2 {
  font-family:Verdana;
  color: green;

}
